<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="usc.csci571.ebays">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="eBay Catalog Search"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        android:usesCleartextTraffic="true">

        <activity android:name=".CardDetail"
            android:parentActivityName=".SearchResult"
            android:theme="@style/SearchTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="usc.csci571.ebays.SearchResult" />

        </activity>

        <activity
            android:name=".SearchResult"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SearchTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="usc.csci571.ebays.MainActivity" />
        </activity> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>